/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;600;800&display=swap');
/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Mulish', sans-serif;
}
h1 {
    font-size: 48px;
    font-weight: 600px;
}

h2{
    font-size: 36px;
    font-weight: 600px;
}
.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgb(255, 198, 55);;
    margin-top: 20px;
}
.flex {
    display: flex;
}
.justify-content {
    justify-content: center;
}
.mx-auto {
    margin: 0 auto;
}
.justify-content {
    justify-content: space-between;
}
.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.item-center {
    align-items: center;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-12 {
    margin-bottom: 12px;
}
.margin-top-12 {
    margin-top: 12px;
}
.padding {
    padding: 10px 20px;
}
.py-10 {
    padding: 10px 0;
}
.border-radius {
    border-radius: 8px;
}
.border-radius-top {
    border-radius: 8px 8px 0 0;
}
.border-radius-bottom {
    border-radius: 0 0 8px 8px;
}

/* body */
.body{
    /* max-width: 1120px; */
    /* margin: 0 auto; */
    padding: 0 120px;
    background-color: white;
}
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul { 
    list-style-type: none;
    display: flex;
    gap: 5px;
}
.nav-appion {
    border: 1px solid black;
    padding: 4px 6px;
    border-radius: 10px;
}
/* main section */

/* banner */ 
/* banner-feature */
.banner-feature {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 80px;
}
.feature-two-group {
    display: flex;
    align-items: flex-end;
    gap: 0 20px;
}

/* banner feature one */
.feature-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 216px;
    height: 312px;
    background-color: #FBFBFB;
    border: 0.5px solid rgba(2, 0, 67, 0.2);
    border-radius: 24px;
    padding: 20px 40px 20px 20px;
}
.feature-one h1 {
    padding: 0 0 10px 0;
}
/* banner feature two */
.feature-two .title {
    text-align: center;
    width: 532px;
    margin: 0 auto;
}
.feature-two .item-1 {
    width: 216px;
    height: 190px;
    background-color: #FFFFF5;
    border: 0.5px solid rgba(2, 0, 67, 0.2);
    border-radius: 24px;
    padding: 20px;
}
/* item 2 */
.feature-two .item-1 h2 {
    margin-bottom: 10px;
}
.feature-two .item-1 .item-img {
    display: flex;
    justify-content: flex-end;
}
.feature-two .item-2 .title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.feature-two .item-2 .title img {
    width: 30px;
    height: 30px;
}
.feature-two .item-2 {
    width: 216px;
    height: 162px;
    background-color: #FBFBFB;
    border: 0.5px solid rgba(2, 0, 67, 0.2);
    border-radius: 24px;
    padding: 20px;
}
.feature-two .item-2 .last-img {
    margin-top: 15px;
}
.feature-two .item-3 {
    position: relative;
    width: 216px;
    height: 190px;
    background-color: #FFFFF5;
    border: 0.5px solid rgba(2, 0, 67, 0.2);
    border-radius: 24px;
    padding: 20px;
}
.feature-two .item-3 .item-img {
    position: absolute;
    right: 10px;
    top: 87px;
}
/* banner feature three */
.feature-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 216px;
    height: 312px;
    background-color: #FBFBFB;
    border: 0.5px solid rgba(2, 0, 67, 0.2);
    border-radius: 24px;
    padding: 20px 40px 20px 20px;
}
/* category-1 */
.category-1 {
    display: flex;
    gap: 90px;
    margin-bottom: 80px;
}
.category-1 .text-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category-1 .img-part {
    height: 485px;
}
.category-1 .text-part .title {
    display: flex;
}
.category-1 .text-part .title h4{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
.category-1 .text-part h2 {
    width: 396px;
}
.category-1 .text-part .title{
    margin-bottom: 8px;
}
.category-1 .text-part h2{
    margin-bottom: 14px;
}
.category-1 .img-part .cart{
    display: flex;
    align-items: center;
    width: 395px;
    height: 210px;
}
.category-1 .img-part {
    position: relative;
}
.category-1 .img-part .cart{
    position: absolute;
    bottom: -10px;
    left: -70px;
}
.category-1 .img-part .cart-item {
    padding: 40px 20px;
    border-radius: 32px;
    background-color: rgb(52, 50, 104);
}
.category-1 .img-part .cart-item h4 {
    font-size: 26px;
}
/* category-2 */
.category-2 {
    margin-bottom: 80px;
}
.category-2 .img-part {
    position: relative;
}
.category-2 .img-part {
    width: 524px;
    height: 394px;
}
.category-2 .img-part .cart{
    width: 321px;
    height: 144px;
    position: absolute;
    bottom: -26px;
    left: 16px;
}
.category-2 .img-part .cart .cart-item{
    background-color: rgb(52, 50, 104);
    border-radius: 20px;
    padding: 20px;
}
.extra-img-part-group {
    justify-content: space-between;
}
/* category-3 */
.category-3 {
    margin-bottom: 80px;
}
.box-border{
    display: flex;
}
.box-border-item {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}
/* category-3 */
.category-3-card {
    background-color: rgb(255, 255, 245);
    padding: 20px;
    border-radius: 16px;
}
.category-3-card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 0px;
}
.dot-1 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #02004365;
}
.dot-2 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(255, 198, 55);
}
.dot-3 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #02004369;
}
/* category-4 */
.faq-q {
    background-color: rgb(255, 255, 245);
}
.faq-a {
    background-color: rgb(255, 255, 255);
}
/* category-4 */
.category-4 {
    margin-bottom: 80px;
}
/* hhhh */
.banner {
    background-image: url('/image/Rectangle\ 32.png'); /* replace with your banner image */
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 32px;
    /* justify-content: center; */
    color: white;
    /* text-align: center; */
}

.banner-content {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: radial-gradient(647.71% 142.52% at 98% 78%,rgb(2, 0, 67),rgba(2, 0, 67, 0.3) 100%);
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 32px;
}
.banner2 {
    background-image: url('/image/Rectangle\ 5.png'); /* replace with your banner image */
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 32px;
    /* justify-content: center; */
    color: white;
    /* text-align: center; */
    margin-top: 30px;
}

.banner-content2 {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(179.57deg, rgba(0, 193, 157, 0) -25.412%,rgba(2, 0, 67, 0.47) 107.111%);
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 32px;
}

.category-5-title {
    width: 530px;
}
.category-5 {
    margin-bottom: 80px;
}
/* nav */
.nav-top {
margin: 10px;
}



/* responsive */
/* mobile device */
@media screen and (max-width: 600px) {
    .body {
        padding: 0 10px;
    }
    /* navbar */
    .nav-item {
        flex-direction: column;
    }
    /* banner */
    .feature-two .title {
        width: 232px;
    }
}
/* medium device */
@media screen and (min-width: 601px) and (max-width: 992px) {
    .body {
        padding: 0 40px;
    }
    .nav-item {
        flex-direction: column;
    }
    /* banner */
    .feature-two .title {
        width: 432px;
    }
}
